* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  height: 100vh;
}

/* CENTER PAGE */
.login-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  text-align: center;
}

/* TITLE */
.login-box h2 {
  margin-bottom: 5px;
  color: #1e2a38;
}

.login-box p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

/* INPUT FIELDS */
.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border: 1px solid #ccc;
  border-radius: 8px;

  outline: none;
  font-size: 14px;
}

/* LOGIN BUTTON */
.login-box button {
  width: 100%;
  padding: 12px;

  background: black;
  color: white;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

.login-box button:hover {
  background: black;
}

/* LINKS */
.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:hover {
  text-decoration: underline;
}

