*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
}


.login-container{
    width: 900px;
    height: 550px;

    background-color: white;

    display: flex;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


.login-left{
    width: 50%;

    background-color: black;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
    text-align: center;
}

.login-left h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.login-left p{
    font-size: 18px;
    line-height: 1.6;
}

.login-left img{
    width: 300px;
    margin-top: 30px;
}


.login-right{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.login-form{
    width: 80%;
}

.login-form h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    color: #2ecc71;
}

.login-form input{
    width: 100%;

    padding: 15px;

    margin-bottom: 20px;

    border: 1px solid #ccc;

    border-radius: 8px;

    font-size: 16px;
}

.login-form button{
    width: 100%;

    padding: 15px;

    border: none;

    background-color: #2ecc71;

    color: white;

    font-size: 18px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

.login-form button:hover{
    background-color: #27ae60;
}



.signup-text{
    margin-top: 20px;
    text-align: center;
}

.signup-text a{
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
}